<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Bonus Bootzapp</title>
</head>
<body>
    <div id="app">
        <div id="applicazione">
            <div class="my-container container">
                <div class="row-container" style="height: 100%;">



                    <!-- ************************* -->
                        <!-- left section -->
                    <!-- ************************* -->
                    <div class="col-4" style="height: 100%;">

                        <!-- head row -->
                        <div class="head-row d-flex align-items-center justify-content-between">
                            <div class="col-auto d-flex align-items-center">
                                <img src="./img/avatar_io.jpg" alt="foto profilo" class="propic">
                                <h5 class="mb-0 ms-2">Sofia</h5>
                            </div>
                            <div class="col-auto fs-4">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message ms-4"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-4"></i>
                            </div>
                        </div>

                        <!-- notify row -->
                        <div class="notify-row d-flex align-items-center">
                            <i class="col-auto fa-solid fa-bell-slash notify-i fs-5 d-flex align-items-center justify-content-center mx-3"></i>
                            <div class="col">
                                <h6 class="fw-semibold">Ricevi notifiche di nuovi messaggi</h6>
                                <p class="m-0">attiva notifiche desktop</p>
                            </div>
                        </div>

                        <!-- searching row -->
                        <div class="searching-row input-group">
                            <i class="fa-solid fa-magnifying-glass input-group-text d-flex align-items-center px-4" id="inputGroup-sizing-default"></i>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" v-model="searchFilter" @input="searchChat">
                        </div>

                        <!-- chats row -->
                        <div class="chats-row">
                            <div v-for="(contact, indexContacts) in contacts":key="indexContacts" @click="setActiveChat(indexContacts)" v-show="contact.visible">
                                <div :class="indexContacts === activeChat ? 'active' : ''" class="chat-preview d-flex justify-content-between p-2" >
                                    <div class="col-10 d-flex align-items-center">
                                        <img :src="contact.avatar" alt="" class="propic me-3 ms-0">
                                        <div class="dati-mex">
                                            <h5 class="mb-1" v-text="contact.name"></h5>
                                            <p class="m-0 last-mex" v-text="contact.messages.length > 0 ? contact.messages[contact.messages.length - 1].message : 'Nessun messaggio'"></p>
                                        </div>
                                    </div>
                                    <div class="orario-preview col-1" v-text="contact.messages.length > 0 ? `${contact.messages[contact.messages.length - 1].date.slice(11, 16)}` : ''">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end left section -->



                    <!-- ************************* -->
                        <!-- right section -->
                    <!-- ************************* -->
                    <div class="col-8" v-for="(contact, indexContacts) in contacts" :key="indexContacts" style="height: 100%;" v-show="indexContacts === activeChat">

                        <!-- head row 2 -->
                        <div class="head-row d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img :src="contact.avatar" alt="" class="propic">
                                <div>
                                    <h5 class="mb-1" v-text="contact.name"></h5>
                                    <p class="m-0 last-mex" v-text="contact.messages.length > 0 ? `Ultimo accesso oggi ${contact.messages[contact.messages.length - 1].date}` : 'Ultimo accesso oggi'"></p>
                                </div>
                            </div>
                            <div class="fs-4" >
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip ms-4"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-4"></i>
                            </div>
                        </div>

                        <!-- content messages row -->
                        <div class="content-row d-flex">
                            <div class="message" v-for="(singleMessage, indexMex) in contact.messages" :key="indexMex" :class="singleMessage.status"  v-if="contact.messages.length > 0" >
                                <div class="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{singleMessage.message}}
                                    <span v-text="singleMessage.date.slice(11, 16)"></span>
                                </div>
                                <!-- toggle menu message -->
                                <div class="dropdown-menu">
                                    <ul>
                                        <li class="dropdown-item">Informazioni</li>
                                        <li class="dropdown-item" @click="deleteMessage(contact, indexMex)">Elimina messaggio</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- new message row -->
                        <div class="new-message-row d-flex align-items-center">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" class="form-control" v-model="newMessage" @keyup.enter="addNewMessage">
                            <i v-if="newMessage === ''" class="fa-solid fa-microphone"></i>
                            <i v-else class="fa-solid fa-paper-plane" @click="addNewMessage"></i>
                        </div>
                    </div>
                    <!-- end right section -->
                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>